
*{
	    box-sizing: border-box;
}
body {
	margin: 0;
}
.firstBlock{
	background-image: url(img/header-bg.jpg);
	background-position: center;
	background-size: cover;
	height: 750px;
}
.header .logo img{
	height: 32px;
}
.header .logo, .menu ul li{
	display: inline-block;
}
.menu ul{
	margin: 9px 0;
    padding: 0;
}
.header .menu{
	float: right;
}
.header{
	padding: 30px 0;
	width: 1140px;
	margin: 0 auto;
}
.menu ul li{
	padding: 0 15px;
	color: #fff;
	font-size: 18px;
}
.title {
	text-align: center;
	color: #fff;
	margin-top: 150px;
}

.button{
	color:#fff;
	padding:25px 30px;
	background-color: #fed136;
	text-decoration:none;
	font-size: 20px;
	font-weight: 600;
	border-radius: 5px;
}
.title h1{
	font-size:65px;
	margin-bottom: 60px;
}
.title h2{
	font-size: 40px;
}
.SERVICES h2, .SERVICES h3{
margin: 0;
text-align: center;
}
.SERVICES h2{
	font-size: 45px;
	margin: 100px 0 0 0;
}
.SERVICES h3{
	font-style:italic;
	opacity: 0.6;	
}
.icon{
	width: 120px;
	height: 100px;
	display: inline-block;
	background-color: #fed136;
	text-align: center;
	padding: 20px 0 0 0;
	border-radius: 50%;
}
.icon i{
	margin-bottom: 15px;
	font-size: 70px;
    color: #fff;
} 
.icons {
	width: 1140px;
	margin: 30px auto;
}
.SERVICES div h4,p{
	font-size: 20px;
	padding: 15px auto:;
}
.cart, .lock, .laptop{
	display: inline-block;
	width: calc(1090px / 3);
	text-align: center;
}
.portfolio {
	margin-top: 50px; 
    text-align: center;
}
.portfolio h4{
    font-size: 40px;
    margin-bottom: 0;
}
.portfolio p{
	font-style: italic;
	opacity: 0.6;
}
.portfolio div{
	display: inline-block;
}
.portfolio{
	margin-top:150px
 }
.about{
	margin-top: 150px;
}
.about h4{
	font-size: 50px;
	margin-bottom: 0;
}
.about p{
	font-style: italic;
	opacity: 0.6;
}
.about h4, p{
	text-align:center;

}
.about .imges{
	    width: 960px;
    /* text-align: center; */
    margin: 0 auto;
}
.about .imges div img{

	border: 7px solid #e9ecef;
	border-radius: 50%;
	display: inline-block;
	margin: 0 auto;
	
}
.about .imges div h4{
	border: 7px solid #e9ecef;
	border-radius: 50%;
	width: 200px;
	height: 200px;
    text-align: center;
    background-color: #fed136;
	font-size: 20px;
	color: #fff;
	padding-top: 52px;
	margin: 0 auto;
}

.row div{
	display: inline-block;

}
.col-4{
	width: 38%;
    padding: 0 25px;
}
.col-6{
	width: 61%
}
.text-right, .text-right p{
	text-align: right;
}
.text-left, .text-left p{
	text-align: left;
}
.img777{
	margin:150px 0  0 200px;
}
.img777 div {
	display: inline-block;
	text-align: center;
	padding: 0 70px

}
.foto img{
	border: 7px solid #e9ecef;
	border-radius: 50%;
	width: 250px;
	height: 250px;
}
.img777 p{
	font-style: italic;
	opacity: 0.6;
}
.img777 h4{
  font-size: 25px;
  margin: 0;
}
.text44{
	margin: 100px;
	text-align: center;
	opacity: 0.6;
	font-size: 25px;
}
.foto11{
	padding: 0 30px 0 0;
}
.foto12{
	padding: 0 30px;
}
.foto13{
	padding: 0 30px;
}
.foto14{
	padding: 0 30px;
}
footer{
	margin: 0;
	width: 100%;
	height: 650px;
	background-color: #000;
	background-image: url(img/map-image.png);
}
footer p {
font-style: italic;
	opacity: 0.6;	
}
footer h4{
	font-size: 40px;
	margin:100px 0 0 0;
	padding: 100px 0 0 0;
}
footer h4,p{
	text-align: center;
	color: #fff;
}
.textinput input{
	height: 30px;
	width: 400px;
	padding: 15px 5px;
	margin: 20px 30px;
} 
.textarea, .textinput{
	margin: 0 0 0 250px;
	display: inline-block;
	height: 500px;
}
.textarea{
	margin: 50px;

}




